parameters:
	ignoreErrors:
		-
			message: '#^Method Ibexa\\CoreSearch\\CriterionMapper\\LogicalAndCriterionMapper\:\:getType\(\) never returns ''NOT'' so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/lib/CriterionMapper/LogicalAndCriterionMapper.php

		-
			message: '#^Method Ibexa\\CoreSearch\\CriterionMapper\\LogicalOrCriterionMapper\:\:getType\(\) never returns ''NOT'' so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/lib/CriterionMapper/LogicalOrCriterionMapper.php

